<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta content="photography, digital photography, cameraphones, camera, hobby photography, photo, digital camera, compactflash, smartmedia, cameras, canon, nikon, olympus, fujifilm, video" name="keywords"/>
    <meta content="width=820" name="viewport"/>
    <link href="/favicon.ico" type="image/ico" rel="shortcut icon"/>
    <title>Snapr <%= "- " + @title unless not @title %></title>
    <%= stylesheet_link_tag "layout.css" %>
    <%= stylesheet_link_tag "custom.css" %>
    <%= stylesheet_link_tag "swfupload.css" %>
    <%= javascript_include_tag :defaults %>
    <%= javascript_include_tag 'swfupload' %>
    <%= javascript_include_tag 'handlers' %>
    <% if @map %>
        <%= GMap.header %>
        <%= @map.to_html %>
    <% end %>
    <%= yield :headcontent %>
  </head>
  <body>
    <div id="TopBar" class="TopBar">
    	<table cellspacing="0" border="0" class="Header">
    		<tbody>
    		    <tr>
        			<td class="FlickrLogo">
        				<a href="/">
        				    <img title="Why don't you remove the chip that makes me feel pain? :(" id="FlickrLogo" src="/images/logo.gif"/>
        				</a>
        			</td>
        			<td class="Status">
        			    <% if current_user %>
            				Signed in as <a class="Pale" href="/account"><%= current_user.username %></a>
                            <%= link_to "Sign Out", { :controller => 'users', :action => 'logout' }, { :style => "margin-left: 20px;" } %>
                        <% else %>
                            You aren't signed in heathen!
                            <%= link_to "Sign In", { :controller => 'users', :action => 'login' }, { :style => "margin-left: 20px;" } %>
                        <% end %>
                    </td>
        		</tr>
    	    </tbody>
        </table>
    	<table cellspacing="0" border="0" class="NavBar">
    		<tbody>
    		    <tr>
    			    <td class="Primary">
    			        <div id="candy_nav_button_bar" class="candy_button_bar">
    			            <ul class="site_nav_menu_buttons">
    			                <li class="no_menu_li">
    			                    <span>
                                        <a href="/">Home</a>
                                    </span>
                                </li>
                                <li class="no_menu_li">
    			                    <span>
    			                        <%= link_to "Albums", albums_path %>
                                    </span>
                                </li>
                                <li class="no_menu_li">
    			                    <span>
    			                        <%= link_to "Geotags", geotags_path %>
                                    </span>
                                </li>
			                </ul>
                        </div>
                    </td>
                    <td id="search_header_form_td" style="padding-bottom: 2px;">
                        <form id="headersearchform">
                            <%= text_field "search", "field", {  :id => "header_search_q", :class => "Box", :style => "color: rgb(153, 153, 153);" } %>
                        </form>
                    </td>
                    <td width="72" id="search_header_button_td">
                        <ul class="site_nav_menu_buttons">
    		                <li class="no_menu_li">
    		                    <span>
                                    <a href="#">Search</a>
                                </span>
                            </li>
                        </ul>       
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <% if @go_wide %>
    <div id="Main" class="wide">
    <% else %>
    <div id="Main">
    <% end %>
        <%= render :partial => "layouts/stream" %>
        <%= render :partial => "layouts/photostream" %>
        <%= yield %>
    </div>
    <%= render :partial => "layouts/google" %>
  </body>
</html>