<div id="info">
    <h4 style="margin-top: 0">Photo Information</h4>
    <div class="basic">
        Part of the <%= link_to @photo.album.title, album_path(@photo.album) %> album<br />
        Uploaded on <%= @photo.created_at.strftime("%b %d, %Y at %H:%I") %><br />
        Picture <%= @photo.position %> of <%= Photo.find(:first, :conditions => { :album_id => @photo.album.id }, :order => "position DESC").position %>
    </div>
    <div class="copyright">
        All rights reserved
    </div>
    <h4>Additional Information</h4>
    <% if @show_exif %>
        <ul>
            <% if @image.date_taken %>
                <li class="exif">Taken on <%= @image.date_taken %></li>
            <% end %>
            <% if @image.model %>
                <li class="exif">Taken with an <%= @image.model %></li>
            <% end %>
            <% if @image.make %>
                <li class="exif">Camera made by <%= @image.make %></li>
            <% end %>
            <% if @image.flash %>
                <li class="exif"><%= @image.flash %></li>
            <% end %>
        </ul>
    <% else %>
        <ul>
            <li class="exif">None Available</li>
        </ul>
    <% end %>
    <% if @photo.geotag != nil || @image.gps != nil %>
      <h4>Geotagging Information</h4>
      <% if @photo.geotag %>
        <ul>
          <% if @photo.geotag.description != nil %>
            <li class="exif"><%= @photo.geotag.description %></li>
          <% end %>
          <li class="exif">Latitude: <%= @photo.geotag.latitude %></li>
          <li class="exif">Longitude: <%= @photo.geotag.longitude %></li>
          <li style="list-style-type: none" class="exif"><%= link_to 'View on Google Maps', album_photo_geotag_path(@photo.album, @photo) %></li>
        </ul>
      <% else %>
        <ul>
          <% lat, long = @image.gps %>
          <li class="exif">Latitude: <%= lat %></li>
          <li class="exif">Longitude: <%= long %></li>
          <li style="list-style-type: none" class="exif"><%= link_to 'View on Google Maps', album_photo_geotag_path(@photo.album, @photo) %></li>
        </ul>
      <% end %>
    <% end %>
</div>
<div style="width: 500px">
  <% if current_user %>
    <h1><%= in_place_editor_field :photo, 'title' %></h1>
  <% else %>
    <h1><%= @photo.title %></h1>
  <% end %>
  <%= link_to image_tag(@image.public_filename(:medium)), album_photo_image_path(@photo.album, @photo, @image), { :style => "background-color: white" } %>
  <% if !@photo.first? && !@photo.last? %>
    <div style="float: right">
      <%= link_to image_tag("/images/right.gif"), album_photo_path(@photo.album, Photo.find_by_position(@photo.position+1, :conditions => { :album_id => @photo.album.id })), { :style => "font-size: 11px; text-decoration: none; background-color: white; padding: 5px" } %>
    </div>
    <div>
      <%= link_to image_tag("/images/left.gif"), album_photo_path(@photo.album, Photo.find_by_position(@photo.position-1, :conditions => { :album_id => @photo.album.id })), { :style => "font-size: 11px; text-decoration: none; background-color: white; padding: 5px" } %>
    </div>
  <% elsif @photo.first? && !@photo.last? %>
    <div style="float: right">
      <%= link_to image_tag("/images/right.gif"), album_photo_path(@photo.album, Photo.find_by_position(@photo.position+1, :conditions => { :album_id => @photo.album.id })), { :style => "font-size: 11px; text-decoration: none; background-color: white; padding: 5px" } %>
    </div>
  <% elsif !@photo.first? && @photo.last? %>
    <div>
      <%= link_to image_tag("/images/left.gif"), album_photo_path(@photo.album, Photo.find_by_position(@photo.position-1, :conditions => { :album_id => @photo.album.id })), { :style => "font-size: 11px; text-decoration: none; background-color: white; padding: 5px" } %>
    </div>
  <% end %>
</div>