<%= error_messages_for :image %>

<% form_for(:image, :url => { :action => 'create' }, :html => { :multipart => true }) do |f| -%>
    <p>
        <label for="image">Upload an Image:</label>
        <%= f.file_field :uploaded_data %>
    </p>
    <p>
        <label for="title">Title:</label>
        <%= text_field "photo", "title" %>
    </p>
    <p>
        <label for="caption">Caption:</label>
        <%= text_field "photo", "caption" %>
    </p>
    <p>
        <label for="is_visible">Visible:</label>
        True<%= radio_button_tag "photo[is_visible]", "true", true, :id => 'photo_is_visible' %>
        &nbsp;&nbsp;&nbsp;&nbsp;
        False<%= radio_button_tag "photo[is_visible]", "false", false, :id => 'photo_is_visible' %>
    </p>
    <p>
        <label for="position">Position:</label>
        <%= text_field "photo", "position" %>
    </p>
  <p>
    <%= submit_tag 'Create' %>
  </p>
<% end -%>