<% if @sitestream %>
<div id="stream">
    <div class="top"></div>
    <div class="middle">
        <div class="title">Site Stream</div>
        <div class="log">
            <% @logs = Log.find(:all, :limit => 20, :order => "id DESC") %>
            <% for entry in @logs -%>
                <div id="stream_entry" class="<%= entry.event %>">
                    <% if entry.event == "add_album" %>
                        <% album = Album.find_by_id(entry.identifier) %>
                        <%= entry.user.username %> created a new album <%= link_to album.title, { :controller => 'albums', :action => 'show', :permalink => album.permalink } %>
                    <% elsif entry.event == "edit_album" %>
                        <% album = Album.find_by_id(entry.identifier) %>
                        <%= entry.user.username %> edited the album <%= link_to album.title, { :controller => 'albums', :action => 'show', :permalink => album.permalink } %>
                    <% elsif entry.event == "add_photo" %>
                        <% photo = Photo.find_by_id(entry.identifier) %>
                        <%= entry.user.username %> added a new photo <%= link_to photo.title, { :controller => 'photos', :action => 'show', :permalink => photo.album.permalink, :photolink => photo.permalink } %>
                    <% elsif entry.event == "edit_photo" %>
                        <% photo = Photo.find_by_id(entry.identifier) %>
                        <%= entry.user.username %> edited the photo <%= link_to photo.title, { :controller => 'photos', :action => 'show', :permalink => photo.album.permalink, :photolink => photo.permalink } %>
                    <% end %>
                    <span class="time"><%= time_ago_in_words(entry.created_at, true) %> ago</span>
                </div>
            <% end -%>
        </div>
         
    </div>
    <div class="bottom"></div>
</div>
<% end %>