<%= error_messages_for :album %>

<% form_for(:album, :url => { :action => 'edit', :id => @album.id }) do %>

    <h2>Edit Album</h2>
    <p>
        <label for="parent_id">Parent Album:</label>
        <%= select("album", "parent_id", Album.find(:all).collect {|p| [ p.title, p.id ] }, {:include_blank => 'None'}) %>
    </p>
    <p>
        <label for="title">Title:</label>
        <%= text_field "album", "title" %>
    </p>
    <p>
        <label for="description">Description:</label>
        <%= text_field "album", "description" %>
    </p>
    <p>
        <label for="is_visible">Visible:</label>
        True<%= radio_button_tag "album[is_visible]", "true", true, :id => 'album_is_visible' %>
        &nbsp;&nbsp;&nbsp;&nbsp;
        False<%= radio_button_tag "album[is_visible]", "false", false, :id => 'album_is_visible' %>
    </p>
    <p>
        <label for="permalink">Permalink:</label>
        <%= text_field "album", "permalink" %>
    </p>
    <p>
        <%= hidden_field "album", "id" %>
        <%= submit_tag 'Save' %>
    </p>
<% end %>