<%= error_messages_for :album %>

<% form_for(:album, :url => { :action => 'new' }) do %>

    <h2>Create New Album</h2>
    <p>
        <label for="parent_id">Parent Album:</label>
        <select id="album_parent_id" name="album[parent_id]">
          <option value="">None</option>
          <%= options_from_tree_for_select(Album.find_roots, :id, :title) %>
        </select>
    </p>
    <p>
        <label for="title">Title:</label>
        <%= text_field "album", "title" %>
    </p>
    <p>
        <label for="description">Description:</label>
        <%= text_field "album", "description" %>
    </p>
    <p>
        <label for="is_visible">Visible:</label>
        True<%= radio_button_tag "album[is_visible]", "true", true, :id => 'album_is_visible' %>
        &nbsp;&nbsp;&nbsp;&nbsp;
        False<%= radio_button_tag "album[is_visible]", "false", false, :id => 'album_is_visible' %>
    </p>
    <p>
        <%= hidden_field "album", "position", { :value => @next } %>
        <%= submit_tag 'Create' %>
    </p>
<% end %>