<% if (@album.children.size > 0) && (@album.photos.size > 0) %>
    <%= render :partial => "albums/child_list" %>
<% end %>
<table id="SubNav" width="500" cellspacing="0">
    <tbody>
        <tr>
            <td class="Buddy">
                <img width="48" height="48" alt="to your photostream page" src="/images/buddy.gif"/>
            </td>
            <td class="Section">
	            <h1><%= @album.title %></h1>
				<p class="Links">
				    <% if @album.parent %>
				        <%= link_to "Parent Album", { :action => "show", :permalink => @album.parent.permalink } %>
                        <img width="1" height="11" alt="" src="/images/subnavi_dots.gif"/>
                    <% end %>
				    Thumbnails
                    <img width="1" height="11" alt="" src="/images/subnavi_dots.gif"/>
			        Detail
                    <img width="1" height="11" alt="" src="/images/subnavi_dots.gif"/>
		            Comments
		        </p>
	        </td>
        </tr>
    </tbody>
</table>
<% if @album.photos.size > 0 %>
<div id="ViewSet">
    <% if @album.children.size > 0 %>
	    <div class="vsDetails" style="margin-right: 17px; margin-left: 15px">
    <% else %>
        <div class="vsDetails" style="margin-right: 17px; margin-left: 15px">
    <% end %>
        <p class="vsThumbnail">
            <span class="photo_container pc_m">
                <% @image = Image.find_by_id(@album.photos.first.image_id) %>
                <%= link_to image_tag(@image.public_filename(:small), { :class => "pc_img", :width => 240, :height => 180, :id => "primary_photo_img" } ), { :controller => 'photos', :action => 'show', :permalink => @album.permalink, :photolink => @album.photos.first.permalink }, { :class => "image_link" } %>
            </span>
        </p>
	</div>
    <% if @album.children.size > 0 %>
	    <div class="vsThumbs" style="width: 650px; float: none">
	<% else %>
        <div class="vsThumbs" style="width: 100%; float: none">
    <% end %>
	    <div class="clearfix" id="setThumbs">
        <% for @photo in @album.photos -%>
            <% @image = Image.find_by_id(@photo.image_id) %>
            <div class="setThumbs-indv">
                <span id="photo_thumb2697091480" class="photo_container pc_s">
                    <%= link_to image_tag(@image.public_filename(:square), { :class => "pc_img", :width => 75, :height => 75 } ), { :controller => 'photos', :action => 'show', :permalink => @album.permalink, :photolink => @photo.permalink }, { :class => "image_link" } %>
                </span>
            </div>
        <% end -%>
        <% for @photo in @album.photos -%>
            <% @image = Image.find_by_id(@photo.image_id) %>
            <div class="setThumbs-indv">
                <span id="photo_thumb2697091480" class="photo_container pc_s">
                    <%= link_to image_tag(@image.public_filename(:square), { :class => "pc_img", :width => 75, :height => 75 } ), { :controller => 'photos', :action => 'show', :permalink => @album.permalink, :photolink => @photo.permalink }, { :class => "image_link" } %>
                </span>
            </div>
        <% end -%>
        <% for @photo in @album.photos -%>
            <% @image = Image.find_by_id(@photo.image_id) %>
            <div class="setThumbs-indv">
                <span id="photo_thumb2697091480" class="photo_container pc_s">
                    <%= link_to image_tag(@image.public_filename(:square), { :class => "pc_img", :width => 75, :height => 75 } ), { :controller => 'photos', :action => 'show', :permalink => @album.permalink, :photolink => @photo.permalink }, { :class => "image_link" } %>
                </span>
            </div>
        <% end -%>
        <% for @photo in @album.photos -%>
            <% @image = Image.find_by_id(@photo.image_id) %>
            <div class="setThumbs-indv">
                <span id="photo_thumb2697091480" class="photo_container pc_s">
                    <%= link_to image_tag(@image.public_filename(:square), { :class => "pc_img", :width => 75, :height => 75 } ), { :controller => 'photos', :action => 'show', :permalink => @album.permalink, :photolink => @photo.permalink }, { :class => "image_link" } %>
                </span>
            </div>
        <% end -%>
        <% for @photo in @album.photos -%>
            <% @image = Image.find_by_id(@photo.image_id) %>
            <div class="setThumbs-indv">
                <span id="photo_thumb2697091480" class="photo_container pc_s">
                    <%= link_to image_tag(@image.public_filename(:square), { :class => "pc_img", :width => 75, :height => 75 } ), { :controller => 'photos', :action => 'show', :permalink => @album.permalink, :photolink => @photo.permalink }, { :class => "image_link" } %>
                </span>
            </div>
        <% end -%>
        </div>
	</div>
</div>
<% else %>
    <% @no_float = true %>
    <%= render :partial => "albums/child_list" %>
<% end %>