<% if (@album.children.size > 0) && (@album.photos.size > 0) %>
    <%= render :partial => "albums/child_list" %>
<% end %>
<table id="SubNav" width="500" cellspacing="0">
    <tbody>
        <tr>
            <td class="Buddy">
                <img width="48" height="48" alt="to your photostream page" src="/images/buddy.gif"/>
            </td>
            <td class="Section">
              <% if current_user %>
                <h1>
                  <%= in_place_editor_field :album, 'title' %>
                  <span style="font-size: 10px">
                    <%= in_place_editor_field :album, 'description' %>
                  </span>
                </h1>
              <% else %>
                <h1>
                  <%= @album.title %>
                  <span style="font-size: 10px">
                    <%= @album.description %>
                  </span>
                </h1>
              <% end %>
				<p class="Links">
				    <% if @album.parent %>
				      <%= link_to "Parent Album", album_path(@album.parent) %>
                    <% else %>
                      <%= link_to "Albums", albums_path %>
                    <% end %>
				    <% if current_user %>
                      <img width="1" height="11" alt="" src="/images/subnavi_dots.gif"/>
                      <%= link_to "Upload Images", new_album_image_path(@album) %>
                    <% end %>
		        </p>
	        </td>
        </tr>
    </tbody>
</table>
<% if @album.photos.size > 0 %>
<div id="ViewSet">
    <% if @album.children.size > 0 %>
	    <div class="vsDetails" style="margin-right: 17px; margin-left: 15px">
    <% else %>
        <div class="vsDetails" style="margin-right: 17px; margin-left: 15px">
    <% end %>
        <p class="vsThumbnail">
            <span class="photo_container pc_m">
                <% @image = Image.find_by_id(@album.photos.first.image_id) %>
                <%= link_to image_tag(@image.public_filename(:small), { :class => "pc_img", :width => 240, :height => 180, :id => "primary_photo_img" } ), album_photo_path(@album, @album.photos.first), { :class => "image_link" } %>
            </span>
        </p>
	</div>
    <% if @album.children.size > 0 %>
	    <div class="vsThumbs" style="width: 650px; float: none">
	<% else %>
        <div class="vsThumbs" style="width: 100%; float: none">
    <% end %>
	    <div class="clearfix" id="setThumbs">
        <% for @photo in @album.photos -%>
            <% @image = Image.find_by_id(@photo.image_id) %>
            <div class="setThumbs-indv">
                <span class="photo_container pc_s">
                    <%= link_to image_tag(@image.public_filename(:square), { :class => "pc_img", :width => 75, :height => 75 } ), album_photo_path(@album, @photo), { :class => "image_link" } %>
                </span>
            </div>
        <% end -%>
        </div>
	</div>
</div>
<% else %>
    <% @no_float = true %>
    <%= render :partial => "albums/child_list" %>
<% end %>